*{
    padding:  0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: 70px;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
  background-color: #d4a373;
}
.bodyIndex{
  background-image: url(/imagenes/fondo\ index.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
/*NAVEGADOR INDEX*/


.navegadorIndex{
  background-color: #0582ca !important;
  border-radius: 4px;
  
}



.navIndex a{
  color: #ffea00;
  font-size: 35px;
}



/*MAIN INDEX*/




/*VIDEO*/
.video1 {
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;

}
 
.footer{
  text-align: center;
  text-justify: center;
}


/*MEDIA QUERIE CELU INDEX 480px*/
/*hacer cambios lo antes posible no duermas gordo teta floja*/






/*NAVEGADOR MENS*/

.nav-men{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 150px;
  
}

.nav-men li a {
  font-size: 40px;
}
/*MAIN MENS*/

.mainMen {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 50px;
  margin-top: 50px;
  
  
 
  
}




/*NAVEGADOR WOMEN*/

.nav-women {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 150px;
}

.nav-women li a {
  font-size: 40px;
}
/*MAIN WOMEN*/

.mainWomen{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 50px;
  
  
  
}







/*NAVEGADOR KIDS*/

.nav-kids{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 150px;
}
.nav-kids li a {
  font-size: 40px;
}
/*MAIN KIDS*/
.main-kids{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 80px;
}
.main-kids h4{
  color: #9381ff;
  font-size: 25px;
}
.img-kids{
  width: 35rem;
  border-radius: 9px;
}

/*NAVEGADOR UBICACION*/

.nav-ubi{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 150px;
}
.nav-ubi li a {
  font-size: 40px;
}
.mapa{
  margin-left: 580px;
  
 border-radius: 4px;

}
/*falta completar aca "labura bago"*/


/*NAVEGADOR CONTACTO*/
.nav-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 150px;

}
.nav-contacto li a {
  font-size: 40px;
}
